html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  word-break: break-all;
}

* {
  box-sizing: border-box;
}

.content {
  margin-top: 60px;
  padding: 2rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
}

.required {
  color: #FF0000;
  font-weight: bolder;
}