@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl
  }
  h2 {
    @apply text-4xl
  } 
  h3 {
    @apply text-3xl
  }
}

@layer components {
  .defaultButton {
    @apply inline-flex
      px-5 py-2.5 
      bg-blue-600 
      text-white 
      font-medium 
      text-xs
      text-center
      items-center 
      leading-tight 
      tracking-wide
      uppercase rounded shadow-lg 
      hover:bg-blue-700 hover:shadow-lg 
      focus:outline-none focus:ring-0 
      active:bg-blue-800 
      active:shadow-lg transition 
      duration-150 ease-in-out
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  word-break: break-all;
}

* {
  box-sizing: border-box;
}

.content {
  position: relative;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
}

.required {
  color: #FF0000;
  font-weight: bolder;
}