@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.spinnerContainer {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.loadingSpinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}

.overlay {
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}